        body {
            font-family: 'Karla', sans-serif;
            font-size: 16px;
            background: hsl(204, 43%, 93%);
        }
        h2 {
            color: hsl(179, 62%, 43%);
        }
        button {
            margin-top: 20px;
            background-color: #99CC00;
            width: 240px;
            height: 50px;
            font-size: 15px;
            border-radius: 7px;
            font-family: 'Karla', sans-serif;
            font-weight: 700;
            color: #fff;
            border: none;
            box-shadow: 0px 15px 20px rgba(0, 42, 44, 0.2);
        }
        button:hover {
            background-color: #fff;
            color: #99CC00;
            box-shadow: 0px 15px 20px rgba(0, 42, 44, 0.2);
        }
        .box {
            color: white;
            width: 35%;
            min-width: 300px;
            background: white;
            display: flex;
            flex-wrap: wrap;
            margin: 0 auto;
            margin-top: 150px;
            box-sizing: border-box;
            border-radius: 10px 10px 10px 10px;
            -webkit-box-shadow: 0px 16px 22px 1px rgba(0, 0, 0, 0.2);
            -moz-box-shadow: 0px 16px 22px 1px rgba(0, 0, 0, 0.2);
            box-shadow: 0px 16px 22px 1px rgba(0, 0, 0, 0.2);
        }
        .boxTop {
            padding: 20px 40px;
        }

        .boxTop h4 {
            color: hsl(71, 73%, 54%);
        }
        .boxTop p {
            color: hsl(218, 22%, 67%);
        }
        .boxBottomLeft {
            padding: 20px 40px 40px 40px;
            background: hsl(179, 62%, 43%);
        }
        .boxBottomRight {
            padding: 20px 40px 40px 40px;
            background: hsla(179, 52%, 53%, 1);
        }
        .boxBottomRight p {
            font-size: 14px;
            font-weight: 200;
            opacity: 0.8;
            letter-spacing: 1px;
            line-height: 20px;
        }
        .dollars {
            font-size: 36px;
            margin: 0;
        }
        span {
            font-size: 16px;
            font-weight: 200;
            opacity: 0.8;
            letter-spacing: 1px;
            vertical-align: middle;
        }
        @media (min-width: 375px) {
            .box {
                width: 333px;
            }
            .boxBottomLeft {
                width: 100%;
            }
            .boxBottomRight {
                width: 100%;
            }
        }
        @media (min-width: 1200px) {
            .box {
                min-width: 666px;
            }
            .boxBottomLeft {
                width: calc((100% / 2) - 80px);
            }
            .boxBottomRight {
                width: calc((100% / 2) - 80px);
            }
        }